body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
 background: linear-gradient(white, #D3D8E8);
}


#topscreen{
    width:100%;
    background-color:#4c66a4;
    margin: 0px auto;

    
}

#logobackground{
 width:980px;
 margin:0px auto;
 padding:0px;
 height: 85px;

    
}

#logobackground p {
 float: left;
 text-align:left;
 color:white;

}

#logo{
    color:white;
    font-size:30px;
    font-weight:900;
    margin-top:25px;
}


#logobackground form{
    margin-top:6.5px;
    float:right;
}

#logobackground form p{
 font-size:12px;
 margin-left:15px;
}
#logobackground form p a{
 color:#A9BCF5;
 text-decoration: none;
 
}
#logobackground form input[type="text"]{
 margin-top:3px;
 width:150px;
 border:0.5px solid black;
 height:22px;
 padding-left:3px;
}
#logobackground form input[type="password"]{
 margin-top:3px;
 width:150px;
 border:0.5px solid black;
 height:22px;
 padding-left:3px;
}

#logobackground form input[type="submit"]{
 height:22px;
 margin-top:20px;
 background-color:#084B8A;
 color:white;
 border:1px solid #08298A;
}


#mainscreen {
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:980px;

}
#mainscreen div{
/* float: left;  */
font-family:Arial, Helvetica, sans-serif ;
/* margin-left: -200px; */
}

#mainscreen #left{
width:590px;
margin-top: 30px;
text-align: left;
margin-left: -200px;
float: left;
}

#mainscreen #left p{
margin: 0px;
font-size: 20px;
font-weight:bold;
color: #0e385f;
}


#mainscreen #right
{
 margin-top:10px;
 width:390px;
 text-align:left;
 float: right;
}

 #mainscreen #right h1 {
margin: 0px; 
font-size: 37px;
color: #2E2E2E;
}


#mainscreen #right h6 {
    font-size: 18px;
    color: #2E2E2E;
    margin-top: 10px;
    }

#mainscreen #right p {
margin-top: 10px;
  }

#mainscreen #right p #firstname{
width: 45%;
display: inline;
}

#mainscreen #right p #surname{
    margin-left: 2%;
    width: 45%;
    display: inline;
}

#mainscreen #right p input[type="text"]
{
 width:95%;
 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}
#mainscreen #right p input[type="password"]
{
 width:95%;
 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}


#mainscreen #right h5 {
    font-size: 16px;
    color: grey;
    margin-top: 10px;
    margin-bottom: 0px;
    }

#mainscreen #right p select
{
 margin-bottom:0px;
 padding:4px;
 float:left;
}

#mainscreen #right h4 {
    font-size: 16px;
    color: grey;
    text-align: left;
    margin-top: 10px;
    margin-bottom:0px;
    }

#mainscreen #right p input[type= "radio"]
{
    margin-top: 8px;

}

#mainscreen #right #terms{
    font-size: 13px;
    color: grey;
    text-decoration: none ;
}

#mainscreen #right a{

    text-decoration: none;
}

#mainscreen #right p input[type="submit"]{

    height:40px;
    width: 205px;
    font-size: 19px;
    background-color:#69a74e;
    color:white;
    border:1px solid #69a74e;
    font-weight: bold !important ;
    border: 1px solid;
    border-radius: 5px;


}

#mainscreen #right #createpage{
    color:#424242;
   font-size: 13px;
font-weight: bold;
   
}

#bottomscreen {

 width: 1248px;;
  clear:both;
 margin-top:200px;
 background-color:white;
 /* float:left; */
 /* text-align:left; */
 padding: 50px;
 color: grey;
 font-size: 12px;

}


#bottomscreen a {
text-decoration: none;
margin: 3px;
font-size: 12px;
color: #4c66a4;
}



#bottomscreen #bottom2{

    margin-top: 15px;
    margin-left: 100px;
    margin: 8px;
    width: 1200px;

}

/* #bottomscreen #bottom3{

    margin-top: 9px;
    margin-left: -60px;
    margin: 8px;
} */